@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
// colors
$blue: #000080;
$dark: #181818;

html{
    scroll-behavior: smooth;
}

// Scrool up button style

.scroll-up-button {
    position: fixed;
    height: 45px;
    width: 45px;
    background: $blue;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0; 
    pointer-events: none;
    transition: all 0.3s ease;

    &.show {
        bottom: 30px;
        opacity: 1; 
        pointer-events: auto;
    }
}

// Navbar styling
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;

    &.sticky {
        padding: 15px 0;
        background: $blue;
        transition: all 0.3s ease;

        .logo a span {
            color: white;
        }

        .menu li a:hover {
            color: white;
        }
    }
    .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        a {
            color: white;
            font-size: 35px;
            font-weight: 600;

            span {
                color: $blue;
            }
        }
    }

    .menu {
        li {
            list-style: none;
            display: inline-block;

            a {
                display: block;
                color: white;
                font-size: 18px;
                font-weight: 500;
                margin-left: 25px;
                transition: color 0.3s ease;

                &:hover {
                    color: $blue;
                }
            }
        } 
    }
}

// Menu button styling

.menu__button {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}



// Home section style

.home {
    display: flex;
    background: url('Images/background.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;

    .max-width {
        margin: auto 0 auto 40px;
    }

    &__content {

        &--text {

            &-1 {
                font-size: 27px;
            }

            &-2 {
                font-size: 75px;
                font-weight: 600;
                margin-left: -3px;
            }

            &-3 {
                font-size: 40px;
                margin: 5px 0;

                span {
                    color: $blue;
                    font-weight: 500;
                }
            }
        }
        a {
            display: inline-block;
            background: $blue;
            color: white;
            font-size: 25px;
            padding: 12px 36px;
            margin-top: 20px;
            border-radius: 6px;
            border: 2px solid $blue;
            transition: all 0.3s ease;

            &:hover {
                color: $blue;
                background: none;
            }
        }
    }
}

// About section style 

section {
    padding: 100px 0;
}
.about {
    font-family: 'Poppins', sans-serif;

    .title {
        position: relative;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 4px;
            background: $dark;
            transform: translateX(-50%);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .column__left {
            width: 45%;

            img {
                height: 400px;
                width: 400px;
                object-fit: cover;
                border-radius: 6px;
            }
        }
        .column__right {
            width: 55%;

            .text {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 10px;

                span {
                    color: $blue;
                }
            }

            p {
                text-align: justify;
            }

            a{
                display: inline-block;
                background: $blue;
                color: white;
                font-size: 20px;
                font-weight: 500;
                padding: 10px 30px;
                margin-top: 20px;
                border-radius: 6px;
                border: 2px solid $blue;
                transition: all 0.3s ease;

                &:hover {
                    color: $blue;
                    background: none;
                }
            }
        }
    }
}

// Services style

.services {
    font-family: 'Poppins', sans-serif;
    background: $dark;
    color: white;

    .title {
        position: relative;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 4px;
            background: white;
            transform: translateX(-50%);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            font-size: 20px;
            color: $blue;
            padding: 5px;
            background: $dark;
            transform: translateX(-50%);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .card {
            width: calc(50% - 20px);
            background: white;
            color: $dark;
            text-align: center;
            border-radius: 6px;
            padding: 20px 25px;
            cursor: pointer;
            transition: all 0.3s ease;

            .box {
                transition: all 0.3s ease;
                
                i {
                    font-size: 50px;
                    color: $blue;
                }
    
                .text {
                    font-size: 25px;
                    font-weight: 500;
                    margin: 10px 0 7px 0;
                }
            }

            &:hover {
                background: $blue;
                color: white;

                i {
                    color: white;
                    transition: color 0.3s ease;
                }
            }

            &:hover .box {
                transform: scale(1.05);
            }
        }
    }
}

// Skills style

.skills {
    font-family: 'Poppins', sans-serif;

    .title {
        position: relative;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        color: $dark;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 4px;
            background: $dark;
            transform: translateX(-50%);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-bottom: 2px solid gray;

        .column {

            &__left {
                width: 80%;
                
                .text {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    text-align: justify;
                }

                a{
                    display: inline-block;
                    background: $blue;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 8px 16px;
                    margin-top: 20px;
                    border-radius: 6px;
                    border: 2px solid $blue;
                    transition: all 0.3s ease;
    
                    &:hover {
                        color: $blue;
                        background: none;
                    }
                }
            }

            &__right {
                width: 20%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                

                .slider {
                    height: 150px;
                    width: 100px;
                    margin: auto;
                    position: relative;
                    display: grid;
                    place-items: center;
                    overflow: hidden;
              
                    &::before, &::after {
                        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                        content: '';
                        height: 100%;
                        position: absolute;
                        width: 15%;
                        z-index: 2;
                    }

                    &::before {
                        left: 0;
                        top: 0;
                    }

                    &::after {
                        right: 0;
                        top: 0;
                        transform: rotateZ(180deg);
                    }

                    .slide-track {
                        display: flex;
                        width: calc(50px * 8);
                        animation: scroll4 10s linear infinite;
                        
                        &__android {
                            animation: scroll2 5s linear infinite;
                        }

                        &:hover {
                            animation-play-state: paused; 
                        }

                        .slide {
                            height: 100px;
                            width: 100px;
                            display: flex;
                            align-items: center;
                            padding: 15px;
                            perspective: 100px;

                            i {
                                font-size: 50px;

                                &:hover {
                                    transform: translateZ(20px);
                                    transition: transform 1s;
                                }
                            }

                            img {
                                height: 100%;

                                &:hover {
                                    transform: translateZ(20px);
                                    transition: transform 1s;
                                }
                            }

                            .html5 {
                                color: #e34c26;
                            }
                
                            .css3 {
                                color: #264de4;
                            }
                
                            .sass {
                                color: #c69;
                            }
                
                            .js {
                                color: #f0db4f;
                            }
                        }
                    }
                }
                // .row {
                //     display: flex;
                //     justify-content: space-between;
    
                //     .icons {
                //         font-size: 50px;
                //         margin-bottom: 15px;
    
                //         .html5 {
                //             color: #e34c26;
                //         }

                //         .css3 {
                //             color: #264de4;
                //         }

                //         .sass {
                //             color: #c69;
                //         }

                //         .js {
                //             color: #f0db4f;
                //         }
                        
                //         .logo {
                //             height: 50px;
                //             width: 50px;
                //         }
                //     }
                // }
            }
        }
    }
}

// Team style

.team {
    font-family: 'Poppins', sans-serif;
    background: $dark;
    color: white;

    .title {
        position: relative;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 4px;
            background: white;
            transform: translateX(-50%);
        }
    }

    .carousel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .card {
            background: rgb(21, 33, 58);
            border-radius: 6px;
            padding: 25px 35px;
            text-align: center;
            transition: all 0.3s ease;
            
            &:hover{
                background: $blue;

                .box {
                    transform: scale(1.05);
                    img {
                        border-color: white;
                    }
                }
            }

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;

                img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 5px solid $blue;
                    transition: all 0.3s ease;
                }

                .text {
                    font-size: 25px;
                    font-weight: 500;
                    margin: 10px 0 7px 0;
                }
            }
        }
        
    }
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid $blue !important;
    transition: all 0.3s ease;

    &:hover {
        background: $blue !important;
    }
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
    background: $blue !important;
}


// Contact style

.contact {
    font-family: 'Poppins', sans-serif;
    background: white;
    color: $dark;

    .title {
        position: relative;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 180px;
            height: 4px;
            background: $dark;
            transform: translateX(-50%);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .column {
            width: calc(50% - 30px);

            .text {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            &__left {

                p {
                    text-align: justify;
                }
            }

            .icons {
                margin: 10px 0;

                .row {
                    display: flex;
                    height: 65px;
                    align-items: center;

                    i {
                        font-size: 25px;
                        color: $blue;
                    }

                    .info {
                        margin-left: 30px;
                        
                        .head {
                            font-weight: 500;
                        }

                        .sub-title {
                            color: #333;
                        }
                    }
                }
            }

            &__right {

                form {

                    .fields {
                        display: flex;
                        height: 45px;
                        width: 100%;
                        margin-bottom: 15px;

                        .field {
                            height: 45px;
                            width: 100%;
                            
                            input {
                                height: 100%;
                                width: 100%;
                            }

                            &__name {
                                margin-right: 10px;
                            }

                            &__email {
                                margin-left: 10px;
                            }
                        }
                        
                    }
                    .field {
                        display: flex;
                        height: 45px;
                        width: 100%;
                        margin-bottom: 15px;
                        
                        input, &__textarea textarea {
                            height: 100%;
                            width: 100%;
                            border: 1px solid lightgray;
                            border-radius: 6px;
                            outline: none;
                            padding: 0 15px;
                            font-size: 17px;
                            font-family: 'Poppins', sans-serif;
                        }

                        textarea {
                            padding-top: 10px;
                            resize: none;
                        }
                    }

                    .field__textarea {
                        height: 80px;
                        width: 100%;
                    }

                    .button {
                        height: 47px;
                        width: 170px;

                        button {
                            width: 100%;
                            height: 100%;
                            border: 2px solid $blue;
                            background: $blue;
                            color: white;
                            font-size: 20px;
                            font-weight: 500;
                            border-radius: 6px;

                            &:hover {
                                background: none;
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Footer style 

footer {
    font-family: 'Poppins', sans-serif;
    background: $dark;
    color: white;
    padding: 20px 23px;
    
    span {

        a {
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}












// animations

@keyframes scroll4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 4));
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 2));
    }
}

// responsive query
@media (max-width: 1300px){
    .home {
        .max-width {
            margin-left: 0px;
        }
    }
}

@media (max-width: 1104px){
    .about {
        
        &__content {

            .column__left {

                img {
                    height: 350px;
                    width: 350px;
                }
            }
        }
    }
}

@media (max-width: 990px){
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px){

    .navbar{
        
        .menu {
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: $dark;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;

            &.active {
                left: 0;
            }

            li {
                display: block;

                a {
                    display: inline-block;
                    margin: 20px 0;
                    font-size: 25px;
                }
            }
        }

        .menu__button {
            display: block;
            z-index: 999;

            i.active:before {
                content: "\f00d";
            }
        }
    }

    .home {
        &__content {

            &--text {
                &-2 {
                font-size: 70px;
                }
        
                &-3 {
                    font-size: 35px;
                }
            }

            a {
                font-size: 23px;
                padding: 10px 30px;
            }
        }
    }

    .about {

        &__content {

            .column__left {
              display: flex;
              justify-content: center;
              margin: 0 auto 60px;
            }

            .column__right {
                flex: 100%;
            }
        }
    }

    .max-width {
        max-width: 800px;
    }

    .skills {

        &__content {
            padding: 10px;

            .column{
                width: 100%;
                margin-bottom: 25px;

                &__right {
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 10px;
                    
                    .slider {
                        height: 100px;

                        .slide-track {

                            .slide {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {

        &__content {

            .column {
                width: 100%;
                margin-bottom: 35px;
            }
        }
    }
}

@media (max-width: 690px){

    .max-width{
        padding: 0 23px;
    }

    .home {
        background: $dark;
        &__content {

            &--text {
                &-2 {
                    font-size: 40px;
                }
        
                &-3 {
                    font-size: 32px;
                }
            }

            a {
                font-size: 20px;
            }
        }
    }

    .services {

        &__content {

            .card {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 500px){

    .home {
        &__content {

            &--text {
                &-2 {
                    font-size: 30px;
                }
        
                &-3 {
                    font-size: 27px;
                }
            }
        }
    }
}