@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.scroll-up-button {
  position: fixed;
  height: 45px;
  width: 45px;
  background: #000080;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: white;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-button.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar.sticky {
  padding: 15px 0;
  background: #000080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: white;
}

.navbar.sticky .menu li a:hover {
  color: white;
}

.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #000080;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #000080;
}

.menu__button {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("Images/background.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home__content--text-1 {
  font-size: 27px;
}

.home__content--text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home__content--text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home__content--text-3 span {
  color: #000080;
  font-weight: 500;
}

.home__content a {
  display: inline-block;
  background: #000080;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #000080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home__content a:hover {
  color: #000080;
  background: none;
}

section {
  padding: 100px 0;
}

.about {
  font-family: 'Poppins', sans-serif;
}

.about .title {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: #181818;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content .column__left {
  width: 45%;
}

.about__content .column__left img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.about__content .column__right {
  width: 55%;
}

.about__content .column__right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about__content .column__right .text span {
  color: #000080;
}

.about__content .column__right p {
  text-align: justify;
}

.about__content .column__right a {
  display: inline-block;
  background: #000080;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #000080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__content .column__right a:hover {
  color: #000080;
  background: none;
}

.services {
  font-family: 'Poppins', sans-serif;
  background: #181818;
  color: white;
}

.services .title {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.services .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  font-size: 20px;
  color: #000080;
  padding: 5px;
  background: #181818;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__content .card {
  width: calc(50% - 20px);
  background: white;
  color: #181818;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__content .card .box {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__content .card .box i {
  font-size: 50px;
  color: #000080;
}

.services__content .card .box .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.services__content .card:hover {
  background: #000080;
  color: white;
}

.services__content .card:hover i {
  color: white;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.services__content .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.skills {
  font-family: 'Poppins', sans-serif;
}

.skills .title {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: #181818;
}

.skills .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: #181818;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid gray;
}

.skills__content .column__left {
  width: 80%;
}

.skills__content .column__left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills__content .column__left p {
  text-align: justify;
}

.skills__content .column__left a {
  display: inline-block;
  background: #000080;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #000080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills__content .column__left a:hover {
  color: #000080;
  background: none;
}

.skills__content .column__right {
  width: 20%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__content .column__right .slider {
  height: 150px;
  width: 100px;
  margin: auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.skills__content .column__right .slider::before, .skills__content .column__right .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.skills__content .column__right .slider::before {
  left: 0;
  top: 0;
}

.skills__content .column__right .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.skills__content .column__right .slider .slide-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50px * 8);
  -webkit-animation: scroll4 10s linear infinite;
          animation: scroll4 10s linear infinite;
}

.skills__content .column__right .slider .slide-track__android {
  -webkit-animation: scroll2 5s linear infinite;
          animation: scroll2 5s linear infinite;
}

.skills__content .column__right .slider .slide-track:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.skills__content .column__right .slider .slide-track .slide {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.skills__content .column__right .slider .slide-track .slide i {
  font-size: 50px;
}

.skills__content .column__right .slider .slide-track .slide i:hover {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.skills__content .column__right .slider .slide-track .slide img {
  height: 100%;
}

.skills__content .column__right .slider .slide-track .slide img:hover {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.skills__content .column__right .slider .slide-track .slide .html5 {
  color: #e34c26;
}

.skills__content .column__right .slider .slide-track .slide .css3 {
  color: #264de4;
}

.skills__content .column__right .slider .slide-track .slide .sass {
  color: #c69;
}

.skills__content .column__right .slider .slide-track .slide .js {
  color: #f0db4f;
}

.team {
  font-family: 'Poppins', sans-serif;
  background: #181818;
  color: white;
}

.team .title {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.team .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .carousel .card {
  background: #15213a;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .carousel .card:hover {
  background: #000080;
}

.team .carousel .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team .carousel .card:hover .box img {
  border-color: white;
}

.team .carousel .card .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .carousel .card .box img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #000080;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team .carousel .card .box .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #000080 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dot:hover {
  background: #000080 !important;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
  background: #000080 !important;
}

.contact {
  font-family: 'Poppins', sans-serif;
  background: white;
  color: #181818;
}

.contact .title {
  position: relative;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 4px;
  background: #181818;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__content .column {
  width: calc(50% - 30px);
}

.contact__content .column .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact__content .column__left p {
  text-align: justify;
}

.contact__content .column .icons {
  margin: 10px 0;
}

.contact__content .column .icons .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content .column .icons .row i {
  font-size: 25px;
  color: #000080;
}

.contact__content .column .icons .row .info {
  margin-left: 30px;
}

.contact__content .column .icons .row .info .head {
  font-weight: 500;
}

.contact__content .column .icons .row .info .sub-title {
  color: #333;
}

.contact__content .column__right form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact__content .column__right form .fields .field {
  height: 45px;
  width: 100%;
}

.contact__content .column__right form .fields .field input {
  height: 100%;
  width: 100%;
}

.contact__content .column__right form .fields .field__name {
  margin-right: 10px;
}

.contact__content .column__right form .fields .field__email {
  margin-left: 10px;
}

.contact__content .column__right form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact__content .column__right form .field input, .contact__content .column__right form .field__textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.contact__content .column__right form .field textarea {
  padding-top: 10px;
  resize: none;
}

.contact__content .column__right form .field__textarea {
  height: 80px;
  width: 100%;
}

.contact__content .column__right form .button {
  height: 47px;
  width: 170px;
}

.contact__content .column__right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #000080;
  background: #000080;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
}

.contact__content .column__right form .button button:hover {
  background: none;
  color: #000080;
}

footer {
  font-family: 'Poppins', sans-serif;
  background: #181818;
  color: white;
  padding: 20px 23px;
}

footer span a {
  color: #000080;
}

footer span a:hover {
  text-decoration: underline;
}

@-webkit-keyframes scroll4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 4));
            transform: translateX(calc(-100px * 4));
  }
}

@keyframes scroll4 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 4));
            transform: translateX(calc(-100px * 4));
  }
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 2));
            transform: translateX(calc(-100px * 2));
  }
}

@keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 2));
            transform: translateX(calc(-100px * 2));
  }
}

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about__content .column__left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 990px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #181818;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .menu__button {
    display: block;
    z-index: 999;
  }
  .navbar .menu__button i.active:before {
    content: "\f00d";
  }
  .home__content--text-2 {
    font-size: 70px;
  }
  .home__content--text-3 {
    font-size: 35px;
  }
  .home__content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .about__content .column__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 60px;
  }
  .about__content .column__right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .max-width {
    max-width: 800px;
  }
  .skills__content {
    padding: 10px;
  }
  .skills__content .column {
    width: 100%;
    margin-bottom: 25px;
  }
  .skills__content .column__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }
  .skills__content .column__right .slider {
    height: 100px;
  }
  .skills__content .column__right .slider .slide-track .slide {
    padding: 10px;
  }
  .contact__content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home {
    background: #181818;
  }
  .home__content--text-2 {
    font-size: 40px;
  }
  .home__content--text-3 {
    font-size: 32px;
  }
  .home__content a {
    font-size: 20px;
  }
  .services__content .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .home__content--text-2 {
    font-size: 30px;
  }
  .home__content--text-3 {
    font-size: 27px;
  }
}
/*# sourceMappingURL=style.css.map */